# Database
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# App
PORT=5000
ALLOWED_ORIGINS=http://localhost:5173

# Supabase (optional)
SUPABASE_URL=
SUPABASE_KEY=

# OpenAI
OPENAI_API_KEY=

# Env
NODE_ENV=development
